* {
  margin: 0;
  padding: 0; }

header {
  position: relative;
  height: 0px;
  z-index: 2; }

.header__navbar {
  background: #000;
  margin: 0%;
  padding: 0px;
  justify-content: flex-end !important;
  z-index: 3; }

.header__logo {
  background-color: #000;
  width: 50%;
  color: #fff;
  text-align: center;
  top: 50%; }

contact {
  position: fixed;
  bottom: 0%;
  right: 0%; }

.main {
  padding-top: 65px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative; }

.main__text {
  position: absolute;
  left: 10px;
  padding-top: 5rem;
  right: 10px;
  top: 200px;
  z-index: 1; }

.titulos__de__secion {
  text-align: center;
  padding: 50px; }

.item_product:hover {
  transform: translate(1rem); }

.products__list {
  padding-top: 100px; }

footer {
  margin-left: 10px;
  margin-top: 10px;
  background-color: black;
  color: skyblue; }

.logi_service_text {
  position: absolute;
  top: 10%;
  right: 0%;
  background-color: #fff;
  padding: 5px; }

.services {
  position: relative;
  background-image: url("./img/proyectos.jpg");
  background-size: cover;
  background-position: center center;
  height: 400px; }

.logi_service_text {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #fff;
  padding: 5px; }

.logi_truck {
  width: 30%; }

.main_services_text {
  position: absolute;
  top: 10%;
  right: 50%;
  left: 20%;
  background-color: #fff;
  padding: 10px; }

.search {
  padding-top: 100px; }

@media (max-width: 500px) {
  .main__text {
    position: absolute;
    left: 10px;
    padding-top: 1rem;
    right: 10px;
    top: 200px;
    z-index: 1; }
  .main_services_text {
    position: absolute;
    top: 10%;
    left: 10px;
    background-color: #fff;
    padding: 30px;
    height: 80%;
    width: 100%; }
  .logi_truck {
    width: 100%; }
  .main_contacto {
    position: relative;
    background-image: url(../img/proyectos.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px; }
  .div_transparente {
    position: absolute;
    right: 0px;
    background-color: white;
    z-index: 0;
    opacity: 0.8; }
  .div_transparente span {
    color: #fff; }
  .contact_div_transparente {
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: black;
    z-index: 0;
    opacity: 0.8; }
  .contact_div_transparente span {
    color: #fff; }
  .contact_div_transparente input {
    width: 100%; }
  .contact_div_transparente textarea {
    width: 100%; }
  .main_contacto_principal {
    position: relative;
    display: block;
    padding-top: 90px; }
  .main_contacto_principal .main__text {
    position: absolute;
    top: 30%;
    left: 20%;
    animation: fadeIn 5s; }
  .main_contacto_principal .main_first_image {
    width: 100%;
    height: 400px; } }
